crosscheck.suite('Javascript Host Object Inheritance', {
	def: function(parent, body) {
		return crosscheck.metadef(parent, body)
	},
	test_basic_inheritance_and_the_invocation_of_the_super_constructor: function() {

		var Rectangle = this.def(function($) {
			this.initializer(function(height, width) {
				$(this, {
					height: height,
					width: width
				})
			})
			this.attrReadOnly('height', 'width')
			this.attrReadOnly('area', function() {
				return $(this).height * $(this).width
			})
		})

		var Square = this.def(Rectangle, function($) {
			this.initializer(function($super, side) {
				$super(side, side)
				$(this).side = side
			})
			this.attrReadOnly('side')
		})

		var s = new Square(5)
		assertEquals(5, s.height)
		assertEquals(5, s.width)
		assertEquals(25, s.area)
		assertEquals(5, s.side)
	},

	//@{host: ['FireFox3', 'IE6'], skip: true}
	test_two_levels_of_inheritance_and_invoking_the_super_constructor: function() {
		var A = this.def(function($) {
			this.initializer(function(one) {
				$(this).one = one
			})
			this.attrReadOnly('one')
		})
		var B = this.def(A, function($) {
			this.initializer(function($super, one, two) {
				$super(one)
				$(this).two = two
			})
			this.attrReadOnly('two')
		})
		var C = this.def(B, function($) {
			this.initializer(function($super, one, two, three) {
				$super(one, two)
				$(this).three = three
			})
			this.attrReadOnly('three')
		})
		var c = new C(1,2,3)
		assertEquals(1, c.one)
		assertEquals(2, c.two)
		assertEquals(3, c.three)
	},

	test_invoking_private_super_methods: function() {
		var A = this.def(function() {
			this.privateMethod('word', function() {
				return "grease"
			})
		})
		var B = this.def(A, function() {})

		var b = new B()
		assertEquals('grease', crosscheck.metadef.access(b).word())
	},

	test_invoking_overridden_super_methods: function() {
		var A = this.def(function() {
			this.method('timesTwo', function(num) {
				return 2 * num
			})
		})

		var B = this.def(A, function() {
			this.method('timesTwo', function($super, num) {
				return $super(num)
			})
		})

		var b = new B()
		assertEquals(10, b.timesTwo(5))
	}
})